.social-container {
  color: var(--text-color);
  display: flex;
  justify-content: center;
}

.social-links {
  margin: 10px;
  color: var(--link-color);
  /* color: #ffd321; */
}

.social-links:hover{
  color: var(--link-hover);
}
