.skills-container {
  color: var(--text-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  box-shadow: 5px 5px 15px black;
}

#resume{
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  /* background-image: url("../japan2.jpg"); */
  background-image: linear-gradient(to right, transparent 10%, var(--link-color)), url("../japan.jpg");
  position: relative;
  min-height: calc(100vh + 100px);
}

#resume .section-title{
  color: var(--text-color);
  text-align: center;
}

#resume:before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border-top: 100px solid var(--bg-color);
  border-left: 49.45vw solid transparent;
  border-right: 49.45vw solid transparent;
}

#resume:after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-top: 100px solid transparent;
  border-left: 49.45vw solid var(--bg-color);
  border-right: 49.45vw solid var(--bg-color);
}

.skills-list li{
  display: block;
  text-align: left;
}

@media only screen and (max-width: 750px){
  .skills-container{
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 500px){
}
