.work-section{
  color: var(--text-color);
  text-align: left;
  padding: 50px 150px 30px;
}

.employed-section{
  box-shadow: 5px 5px 15px black;
  padding: 20px;
  margin: 20px 0;
}

.work-section ul{
  text-align: left;
}

.work-section li{
  margin-bottom: 10px;
  padding-left: 20px;
}

.work-section ul li::before{
  content: "▹";
  color: var(--link-color);
  position: absolute;
  left: 0;
}

.work-title{
  text-align: center;
}

.work-highlight{
  position: relative;
}

@media only screen and (max-width: 750px){
  .work-section{
    padding: 50px 100px 30px;
  }
}

@media only screen and (max-width: 500px){
  .work-section{
    padding: 50px 50px 30px;
  }

  .employed-section{
    padding: 5px;
  }
}
