:root{
  --text-color: white;
  --link-color: #FF9B21;
  --bg-color: #1C1C1C;
  --bg-color2: white;
  --border-color: #FF9B21;
  --link-hover: #ff6421;

}

html{
  scroll-behavior: smooth;
}

ul{
  list-style-type: none;
  padding-left: 0;
  text-align: center;
}

#root{
  background-color: var(--bg-color);
}

.bg-nav{
  background-color: var(--bg-color);
}

.project-container {
  width: 100%;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 150px;
}

.section-title {
  text-align: center;
  color: var(--text-color);
  margin: 0;
}

.section-container {
  padding-top: 60px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.parallax {
  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 1000px){
  .project-container{
    padding: 50px;
  }
}

@media only screen and (max-width: 550px){
  .project-container{
    padding: 0 50px;
  }
}

@media only screen and (max-width: 400px){
  .project-container{
    padding: 0 25px;
  }
}
