:root{
  --text-color: white;
  --link-color: #FF9B21;
  --bg-color: #1C1C1C;
  --bg-color2: white;
  --border-color: #FF9B21;
  --link-hover: #ff6421;

}

html{
  scroll-behavior: smooth;
}

ul{
  list-style-type: none;
  padding-left: 0;
  text-align: center;
}

#root{
  background-color: var(--bg-color);
}

.bg-nav{
  background-color: var(--bg-color);
}

.project-container {
  width: 100%;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.section-title {
  text-align: center;
  color: var(--text-color);
  margin: 0;
}

.section-container {
  padding: 60px 150px 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

@media only screen and (max-width: 1000px){
  .section-container{
    padding: 60px 50px;
  }
}

@media only screen and (max-width: 550px){
  .section-container{
    padding: 60px 50px;
  }
}

@media only screen and (max-width: 400px){
  .section-container{
    padding: 60px 25px;
  }
}
