html{
  scroll-behavior: smooth;
}

#root{
  background-color: #1e0521;
}

.bg-nav{
  background-color: #1e0521;
}

#home{
  padding-top: 100px;
  padding-bottom: 30px;
  background-color: #1e0521;
  color: #fa448c;
}

.about-text {
  margin: 0 200px;
  text-align: center;
}

.center {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.projectDisplay{
  margin: 15px;
  padding: 5px;
}

.project-img{
  height: 250px;
  width: 250px;
}

.carousel{
  width: 250px;
  height: 250px;
}
.project-container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 0 0 0;
  background-color: #1e0521;
}

.skills-container {
  background-color: #1e0521;
  color: #fa448c;
  border-style: outset;
  border-radius: 50px;
  border-color: #0be7fb;
}

.skills-content{
  display: flex;
  justify-content: space-around;
}

.section-title {
  text-align: center;
  background-color: #1e0521;
  color: #fa448c;
  margin: 0;
  padding-top: 60px;
}

.social-container {
  color: #fa448c;
  display: flex;
  justify-content: center;
  background-color: #1e0521;
}

.social-links {
  margin: 10px;
  color: #0be7fb;
}
